.main {
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 16px 24px 0px #6061701f, 0px 2px 8px 0px #28293d05;
    background-color: #fff;
    padding: 35px 24px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.bgDark{
    background-color: var(--background-1);
}

.image {
    position: relative;
    width: 40px !important;
    height: 40px !important;
    padding: 20px;
}

.image img {
    width: 100% !important;
    height:  100% !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 576px) {
    .main {
        width: 300px;
    }

    .image {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (min-width: 768px) {
    .main {
        width: 300px;
    }

    .image {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (min-width: 992px) {
    .main {
        width: 300px;
    }

    .image {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (min-width: 1200px) {
    .main {
        width: 350px;
    }

    .image {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (min-width: 1400px) {
    .main {
        width: 450px;
    }

    .image {
        width: 250px;
        height: 250px;
    }
}