.root {
    display: flex;
    position: relative;
    width: 193px;
    height: 57px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 4px 4px 0px #00000040;
    animation: float 2s ease-in-out infinite;
    margin: 10px;
}

.group1 {
    position: absolute;
    left: -27%;
    top: -38%;
    width: 120%;
    height: 164%;
    overflow: visible;
}

.icon {
    width: 100%;
    height: 100%;
}

.lienHeNgay {
    color: #000;
    font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
    white-space: nowrap;
    z-index: 100;
    font-weight: 600;
    margin-right: 10px;
}

.line {
    position: relative;
    z-index: 100;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-5px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}