.root {
  width: 24px;
  height: 24px;
}

.icon {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 576px) {
  .root {
    width: 12px;
    height: 12px;
  }
}

@media only screen and (min-width: 576px) {
  .root {
    width: 14px;
    height: 14px;
  }
}

@media only screen and (min-width: 768px) {
  .root {
    width: 16px;
    height: 16px;
  }
}

@media only screen and (min-width: 992px) {
  .root {
    width: 18px;
    height: 18px;
  }
}

@media only screen and (min-width: 1200px) {
  .root {
    width: 20px;
    height: 20px;
  }
}