.iconlyBoldLocation.iconlyBoldLocation {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.location.location {
  left: 1.75px;
  top: 1px;
  width: 8.5px;
  height: 10px;
}

.location {
  left: 1.75px;
  top: 1px;
  width: 8.5px;
  height: 10px;
}

.icon {
  width: 20px;
  height: 20px;
}

.root {
  position: relative;
  width: 296px;
  height: 332px;
  cursor: pointer;
}

.boder {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 296px;
  height: 332px;
  outline: solid 1px #fff;
  outline-offset: -1px;
  border-radius: 16px;
  box-shadow: 0px 16px 24px 0px #6061701f, 0px 2px 8px 0px #28293d05;
}

.image {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 25px 25px 0 0;
  box-shadow: 0px 6px 16px 0px #00000005;
}

.image img{
  object-fit: cover;
}

.info {
  position: absolute;
  left: 5.4054%;
  right: 6.0811%;
  top: 63.8554%;
  bottom: 12.0482%;
  width: 262px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.frame30 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.frame11 {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 4px;
}

.tPKonTum {
  color: #8f8f8f;
  line-height: 140%;
  font-family: Lato, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.frame26 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}

.mangEn {
  line-height: 140%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.AtXe {
  color: var(--primary-color);
  font-weight: bold;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}