@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #42A7C3;
  --foreground-rgb: 0, 0, 0;
  --background-start: #E2F6FC;
  --background-end: #FFFFFF;

}


body {
  background: linear-gradient(var(--background-start), var(--background-end));
}

html {
  font-size: 16px;
}

@media only screen and (max-width: 576px) {
  html {
    font-size: 9px;
  }
}

@media only screen and (min-width: 576px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1400px) {
  html {
    font-size: 16px;
  }
}