.root {
  position: relative;
  width: 30px;
  height: 30px;
  align-items: flex-start;
}

.location {
  position: absolute;
  left: 3.5px;
  top: 2px;
  width: 17px;
  height: 20px;
  overflow: visible;
}

.icon {
  width: 30px;
  height: 30px;
}