.footer {
    padding: 100px 5vw;
    height: 700px;
    width: 100%;
    position: relative;
    background-color: var(--primary-color);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-top: 88px;
}

.img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.copy {
    color: white;
    position: absolute;
    bottom: 0;
}

.info {
    padding: 40px;
    width: calc(100% - 5vw);
    height: 50%;
    position: absolute;
    backdrop-filter: blur(20px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border: solid 1px white;
    color: white;
}

.company {
    font-size: 2.5rem;
    font-family: 'Roboto';
    font-weight: bold;
}

.sub{
    font-size: 1.5rem;
    font-family: 'Roboto'; 
}